{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
    <div class="container">
        <br>
        <h1 class="my_title text-center">Reset Password</h1>
        <br>
        <h2 class="my_title">Registered Users Only</h2>
        <form method="post">
            {% csrf_token %}
            <p>{{ form | crispy }}</p>
            <button type="submit" class="btn btn-secondary">Reset Password</button>
        </form>
        <br>
    </div>

    </div>
    </div>
    <br>
    </div>
{% endblock %}