{% extends "base.html" %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description| truncatewords:"155" }}
    {% else %}
        Welcome To the site where you can search for hackathons conducting all over country.
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - Hackathon List
    {% else %}
        See the list.
    {% endif %}
{% endblock %}
{% block content %}
    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    </head>
	<body class="right-sidebar is-preload">
		<div class="jumbotron">
			<h1>Hackathons Continued!</h1>
			<p class="text-muted">Here You can explore hackathons conducted by different tech companies.</p>
			<p class="text-muted">To create your Hackathon - Register as the role of <b>Organiser</b> so that you will get
				the organise dashboard! </p>
	
		</div>
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
								<div class="row">
									<div class="col-12">
										<!-- Article list -->
											<section class="box article-list">
												<h2 class="icon fa-file-alt">Explore Events</h2>
												<!-- Excerpt -->
												{% if lists %}
												{% for list in lists %}
													<article class="box excerpt">
														<a href="{{ list.get_url }}" class="image left"><img src="{{ list.image.url }}"
															alt="{{ list.name }}" style="max-height: 30vh; max-width: 30vh;"/></a>
														<div>
															<header>
																<span class="date">{{ list.created }}</span>
																<h3><a href="#">{{ list.name }}</a></h3>
															</header>
														</div>
													</article>
													{% endfor %}

													{% else %}
														<p><strong>Sorry, there are no hackathon event available!</strong></p>
													{% endif %}
											</section>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			 <!-- Footer Wrapper -->
			 <div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="col-12">
							<div id="copyright">
								<ul class="menu">
									<li>&copy; HORG. All rights reserved</li>
									<li>Made For HACKOVID by Prasoon</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
			</div>
	</body>
	{% endblock %}