{% extends 'base.html' %}
{% load static %}
{% block title %}
    HomePage
{% endblock %}
{% block content %}
    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    </head>
    <body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <div class="container">
                <!-- Banner -->
                <div id="banner">
                    <h2><strong>Horg</strong> A Hackathon event creating site
                        <br/>
                        built for serving the students and professionals.</h2>
                    <a href="{% url 'signup' %}" class="button large icon solid">Register Now</a>
                </div>

            </div>
        </div>

        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style1">
                <div class="inner">

                    <!-- Feature 1 -->
                    <section class="container box feature1">
                        <div class="row">
                            <div class="col-12">
                                <header class="first major">
                                    <h2>This is our building Info</h2>
                                    <p>And this is where we talk about why we’re <strong>pretty awesome</strong> ...</p>
                                </header>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <a href="#" class="image featured"><img src="{% static 'img/django.jpg' %}" alt=""/></a>
                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <a href="#" class="image featured"><img src="{% static 'img/django.jpg' %}" alt=""/></a>
                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <a href="#" class="image featured"><img src="{% static 'img/django.jpg' %}" alt=""/></a>
                                </section>
                            </div>
                            <div class="col-12">
                                <p>Here Your tour starts</p>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="wrapper style2">
                <div class="inner">

                    <!-- Feature 2 -->
                    <section class="container box feature2">
                        <div class="row">
                            <div class="col-6 col-12-medium">
                                <section>
                                    <header class="major">
                                        <h2>And this is for organisers</h2>
                                        <p>The page has organiser's Section to Publish.</p>
                                    </header>
                                    <p>If you want to be an organiser you can go through your edit profie section
                                        and select the option as organiser. Make sure when you publish the post you have
                                        filled all sections fairly. You can log into admin page of organiser below.</p>
                                    <footer>
                                        <a href="http://horg.herokuapp.com/admin" class="button medium icon solid">Let's
                                            do
                                            this</a>
                                    </footer>
                                </section>
                            </div>
                            <div class="col-6 col-12-medium">
                                <section>
                                    <header class="major">
                                        <h2>And this is for Participants</h2>
                                        <p>And it has many things to explore</p>
                                    </header>
                                    <p>You can go through explore section to go through all the things.
                                        You can comment, register, download the information of the event. Make sure in
                                        sign
                                        up section and in edit profile section you have filled all informations
                                        correctly.</p>
                                    <footer>
                                        <a href="{% url 'main:allProdcat' %}" class="button medium alt icon solid">Explore</a>
                                    </footer>
                                </section>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="wrapper style3">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-8 col-12-medium">

                            </div>
                            <div class="col-4 col-12-medium">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Wrapper -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="copyright">
                            <ul class="menu">
                                <li>&copy; HORG. All rights reserved</li>
                                <li>Made For HACKOVID by Prasoon</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>
    </body>
{% endblock %}