{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
    {{ list.description|truncatewords:155 }}
{% endblock %}
{% block title %}
    {{ list.name }} - Hackathon Website
{% endblock %}

{% block content %}
    <div class="row my_prod_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'index' %}"><b>Home</b></a> <b>| {{ list.name }}</b></p>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <div class=" text-center col-6 col-sm-6 col-md-6 col-lg-6">
                    <div style="min-width:17rem;">
                        <div class="inner">
                            <img class="my_prod_image" src="{{ list.image.url }}" alt="{{ list.name }}">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                    <div>
                        <h1 class="my_prod_title">{{ list.name }}</h1>
                        <p>
                            <mark>Days Left: {{ list.noofdays }}</mark>
                        </p>
                        <p class="text-justify my_prod_text">Description: {{ list.description }}</p><br>
                        <p class="text-justify my_prod_text">Conducting By: {{ list.WhoIsConducting }}</p>
                        <p class="text-justify my_prod_text">Author: {{ user.get_full_name }}</p>
                        <p class="text-justify my_prod_text">Created at: {{ list.created }}</p>
                        <a href="{{ list.question.url }}" class="btn btn-danger">Download the Info</a>
                        <br>
                        <p>
                            {% if user.id is not none %}
                                <form method="post" action="{% url 'register' %}">
                                    {% csrf_token %}
                                    {% if is_registered %}
                                        <button class="btn btn-danger" type="submit" name="list_id"
                                                value="{{ list.id }}">
                                            Unregister
                                        </button>
                                    {% else %}
                                        <button class="btn btn-danger" type="submit" name="list_id"
                                                value="{{ list.id }}">
                                            Register
                                        </button>

                                    {% endif %}
                                </form>
                            {% else %}
                                <p class="alert alert-danger" role="alert">You must be logged in to Register.</p>
                            {% endif %}
                        </p>
                        <p>Total registration: {{ total_registered }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-auto"></div>
        <br>
    </div>
    <hr class="new5">
    <div class="container">
        <p class="alert alert-dark" role="alert"><strong>Leave A Comment:</strong></p>
        <div class="row">
            <div class="col-md-8">
                <form action="{% url 'main:addcomment' list.id %}" role="form" method="post" style="margin-top: 1.3em;">
                    {% csrf_token %}
                    <div class="jumbotron">
                        {{ form|crispy }}
                    </div>
                    {% if user.id is not none %}
                        <button type="submit" class="btn btn-danger" data-toggle="button" aria-pressed="false"
                                autocomplete="off">Comment
                        </button>
                    {% else %}
                        <p class="alert alert-danger" role="alert">You must be logged in to post a review.</p>
                    {% endif %}
                </form>
            </div>
        </div>
        <br>
        {% for comment in list.comments.all reversed %}
            <div class="jumbotron comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>User: {{ comment.user }}</strong>
                <p>Subject: {{ comment.subject }}</p>
                <p>{{ comment.text|linebreaks }}</p>
                <br>
            </div>
            <div class="comment">

            </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    </div>
{% endblock %}