{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    Publish
{% endblock %}
{% block content %}
    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
    <div class="container">
        <div class="jumbotron">
            <label class="text-muted">Make sure you are organiser or Staff!</label>
        </div>
        <form action="{% url 'publish' %}" enctype='multipart/form-data' role="form" method="post"
              style="margin-top: 1.3em;">
            {% csrf_token %}
            <div class="jumbotron">
                {{ form|crispy }}
            </div>
            {% if user.id is not none %}
                <button type="submit" class="btn btn-danger">Publish Event</button>
            {% else %}
                <p class="alert alert-danger" role="alert">You must be logged in to post your event.</p>
            {% endif %}
        </form>
    </div>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}